@charset "utf-8";

/* 나눔명조 */
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * {
    font-family: 'Nanum Myeongjo', serif;
}

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none; 
    color: inherit;
}
html, body {
    line-height: 1;
    color: #333; 
    font-size: 62.5%; /* 💥폰트 초기화 (px로 작성 시 필요없음)*/
    /* font-size: 10px => 1rem 
    💥rem => 여백이나 큰 폰트에 사용 width값에는 사용안하는 것이 좋음 */
    font-family: 'Pretendard-Regular';
    font-weight: 400;
}
h3 {
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}
.inner {
    max-width: 1360px;
    width: calc(100% - 40px); /* 💥각 20px */
    margin: 18rem auto; 
    /* margin: 180px auto */

}

.mobile {display: none;}
@media screen and (max-width: 1024px) {
    .mobile {display: block;}
    .pc {display: none;}
}
