@charset "utf-8";
@import url('common.css');


/**** header ****/
header {
    height: 100px;
}
header .inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 💥depth02에 올렸을 때 틈 발생해서 depth02 hover하면 유지 안될수도 있음
    💥적용안될 때 height 값이 있는지 확인 */
    height: 100%;

}
header .inner h1 a img {
    width: 238px;
}
header .inner .pc ul {
    display: inline-block;
}
header .inner .pc ul li {
    display: inline-block;
    font-size: 16px;
    font-family: 'Nanum Myeongjo';
}
header .inner .pc ul.gnb li {
    margin-left: 40px;
}
header .inner .pc ul.user {
    margin-left: 50px;
}
header .inner .pc ul.user li:first-child {
    margin-right: 20px;
}
header .inner .pc ul.user li a img {
    width: 16px;
    /* 💥비율에 맞도록 가로값만 설정 */
}

/**** .main_visual ****/
.main_visual {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Nanum Myeongjo';
}
.main_visual figure:first-child {
    width: 55.88%;
    /* width: 1073 / 1920 X 100 
    💥현재 이미지 / 캔버스크기 X 100 */
}
.main_visual figure:first-child img {
    width: 100%;
    /* 가로값만 작성 => 이미지 크기 비율 그대로 조절됨 */
    /* 💥height: 740px; 높이값 고정된 상태로 가로만 조절됨 */
    /* 💥height: 100% + objext-fit:cover 화면크기에 따라 이미지 비율 맞춰서 조절됨 (일부분 잘림) 
        -> 부모선택자 figure의 가로값이 없기때문*/
}
.main_visual figure:first-child p {
    text-align: right;
    margin-right: 35.41%;
    /* 380 / 1073 X 100 */
}
.main_visual figure:last-child {
    /* width: 32.03%; */
    width: calc(100% - 55.88% - 232px);
    /* 💥전체100% - 왼쪽 이미지가로값 - 여백 */
}
.main_visual figure:last-child img {
    width: 100%;
}

/**** .vie ****/
.vie .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.vie .inner > div {
    width: calc(100% / 3 - 12.5px); /* 💥여백 25px */
    position: relative;
    margin-bottom: 25px;
}
.vie .inner > div a figure img {
    width: 100%;
}
.vie .inner div.title {
    background: url('../img/vie_text_img.jpg')center center / cover no-repeat;   
    display: flex;
    /* 💥flex-wrap: wrap; 공간이 부족할 때 세로로 떨어뜨려줌
    자식들은 부모가 가진 영역만큼 가지게 됨 */

    flex-direction: column; /* 💥자식들은 영역 전체를 가지게 됨(block영역처럼) */
    /* 자식들의 공간이 남아도 세로로 나열시켜줌(떨어뜨려줌)
    flex-direction을 사용했을 때
        justify-contents: 수직
        align-items: 수평 */
    justify-content: center; /* 💥수직 가운데 정렬 */
    text-align: center;
}
.vie .inner div.title p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 2rem;
}
.vie .inner > div div  {
    position: absolute;
    top: 50px;
    left: 0;
    /* left: 50%; 💥현재 가진 공간에서 절반만 차지하게 됨 
    -> 줄였을 때 공간이 남아도 텍스트가 떨어짐
    => left:0 + width값 + text-align:center 하는 것이 좋음 */
    width: 100%;
    text-align: center; /* 💥적용안될 때 width값 주기... */
    font-size: 16px;

    display: none;
}
.vie .inner div:nth-of-type(2) {
    order: -1;
}
.vie .inner > div div h4 {
    font-weight: 400;
    margin-bottom: 10px;
}
.vie .inner > div.item a {
    position: relative;
}
.vie .inner > div.item a::before { 
    /* 💥div.item에게 가상선택자 -> 링크는 text만 잡힘 
    item 바로 안에 a태그에게 가상선택자 -> 전체 링크 걸림 
    img에는 가상선택자 X */
    content: '';
    background-color: #ffffff9f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
}
.vie .inner > div.item:hover div,
.vie .inner > div.item:hover a::before {
    display: block;
}

/**** .editor ****/
.editor .inner .list {
    display: flex;
    justify-content: space-between;
}
.editor .inner .list figure, 
.editor .inner .list .list_text {
    width: calc(100% / 2 - 12.5px);
    max-height: 670px; /* 💥높이값에 맞춰 같이 줄어들고 늘어남 */
}
.editor .inner .list figure img {
    width: 100%;
}
.editor .inner .list .list_text > div {
    height: 33.33%;
    border-bottom: 1px solid #333;
}
.editor .inner .list .list_text > div:first-child {
    border-top: 1px solid #333;
}
.editor .inner .list .list_text > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
.editor .inner .list .list_text > div div {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 💥텍스트끼리 수직 가운데 배치하기 위해*/
}
.editor .inner .list .list_text > div div h4 {
    font-size: 2rem;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}
.editor .inner .list .list_text > div div h4.on {
    border-bottom: 1px solid #333;
}
.editor .inner .list .list_text > div div a {
    font-size: 14px;
    font-family: 'Nanum Myeongjo';
    position: relative;
    padding-right: 10px;
    display: none;
}
.editor .inner .list .list_text > div div a.on {
    display: block;
}
.editor .inner .list .list_text > div div a::before {
    content: '';
    width: 6px;
    height: 10px;
    /* 💥피그마 사이즈랑 다를 수 있음 남는 부분 측정X => 약 2px씩 증가시켜줌  */
    background-image: url('../img/next_icon.png');
    background-size: 100%; /* 💥x축만 잡아줌 */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.editor .inner .list .list_text > div p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 2rem;
    word-break: keep-all;
}

/**** .best ****/
.best {
    background-color: #eeede9;
    padding: 18rem 0;
}
.best .inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.best .inner .left {
    width: 32.13%;
    /* 437px => 437 / 1360 X 100 => 32.13% */
    position: relative; /* 💥슬라이드 버튼의 기준 */
    margin-top: 5rem;
}
.best .inner .left .best_menu li {
    display: inline-block; /* 💥공간부족하면 알아서 떨어짐 */
    padding: 0 5px;/* 💥밑줄이 생겼을 때 여백을 주기 위해 */
    margin-right: 20px;
    margin-bottom: 3rem;
    font-size: 14px;
    color: #888;
}
.best .inner .left .best_menu li.on {
    color: #333;
    border-bottom: 1px solid #333;
}
.best .swiper-button-next {
    content: '';
    background: url('../img/arrow-right.png') center center / 100% no-repeat;
    width: 30px;
    height: 30px;
    left: 40px;
    top: 275px;
    margin-top: 0;
}
.best .swiper-button-prev {
    content: '';
    background: url('../img/arrow-left.png') center center / 100% no-repeat;
    width: 30px;
    height: 30px;
    left: 0;
    top: 275px;
    margin-top: 0;
}
/* 💥가상선택자 기본 화살표 없애기 */
.best .swiper-button-next:after,
.best .swiper-button-prev:after {
    display: none;
}

.best .inner .best_slide_cont {
    width: 66.10%;
    /* 899px */
}
.best .inner .best_slide_cont .mySwiper {
    display: none;
}
.best .inner .best_slide_cont .mySwiper.on {
    display: block;
}
.best .inner .best_slide_cont .swiper-slide figure {
    max-height: 442px;
    height: 32.5vw;
    /* 442 / 1360 X 100 => vw */
}
.best .inner .best_slide_cont .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #333;
}
.best .inner .best_slide_cont .swiper-slide .info > p {
    font-size: 14px;
    margin: 25px 0 7px;
    color: #555;
}
.best .inner .best_slide_cont .swiper-slide .info h4 {
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.best .inner .best_slide_cont .swiper-slide .info > div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.best .inner .best_slide_cont .swiper-slide .info > div p {
    text-decoration: line-through;
    color: #555;
}
.best .inner .best_slide_cont .swiper-slide .info > div strong span {
    color: #995727;
    margin-left: 25px;
}

/**** .brand ****/
.brand .inner .list {
    display: flex;
    justify-content: space-between;
}
.brand .inner .list > div {
    width: calc(100% / 2 - 12.5px);
    max-height: 877px;
}
.brand .inner .list > div.list_item {
    position: relative;
}
.brand .inner .list > div.list_item figure {
    height: 100%;
}
.brand .inner .list > div.list_item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner .list > div.list_item > div {
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.brand .inner .list > div.list_item > div h4 {
    font-size: 2rem;
    font-family: 'Nanum Myeongjo';
}
.brand .inner .list > div.list_item > div p {
    margin: 10px 0 4rem;
    font-size: 16px;
    line-height: 1.5;
}
.brand .inner .list > div.list_item > div a {
    font-family: 'Nanum Myeongjo';
    font-size: 14px;
    position: relative;
}
.brand .inner .list > div.list_item > div a::before {
    content: '';
    background: url('../img/next_icon.png')center center / 100% no-repeat;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}
/* .right_list */
.brand .inner .list > div.right_list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.brand .inner .list > div.right_list .item {
    width: calc(100% / 2 - 12.5px);
}
.brand .inner .list > div.right_list .item figure img {
    width: 100%;
}
.brand .inner .list > div.right_list .item h4 {
    font-size: 2rem;
    margin: 25px 0 10px;
    font-family: 'Nanum Myeongjo';
}
.brand .inner .list > div.right_list .item p {
    font-size: 16px;
    line-height: 1.5;
}

/**** .archive ****/
.archive {
    height: 580px;
    position: relative;
}
.archive img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.archive .inner {
    margin: 0 auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.archive .inner div {
    width: 552px;
    height: 100%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}
.archive .inner div h4 {
    font-size: 2rem;
    font-weight: 400;
}
.archive .inner div p {
    font-size: 16px;
    margin: 10px 0 50px;
    line-height: 1.5;
}
.archive .inner div a {
    font-size: 14px;
    font-family: 'Nanum Myeongjo';
    position: relative;
}
.archive .inner div a::before {
    content: '';
    background: url('../img/next_icon_white.png')center center / 100% no-repeat;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}

/**** .insta ****/
.insta {
    display: flex;
    justify-content: flex-end;
}
.insta .inner {
    max-width: 1655px;
    width: calc(100% - 20px);
    /* background-color: aqua; */
    margin: 18rem 0;
    display: flex;
    justify-content: space-between
}
.insta .inner .left {
    width: 26.40%;
    /* 437 / 1655 X 100 */
    position: relative; /* 💥버튼의 기준 */
}
.insta .inner .left p {
    font-size: 16px;
}
.insta .swiper-insta-next {
    width: 30px;
    height: 30px;
    background: url('../img/arrow-right.png')center center / 100% no-repeat;
    position: absolute;
    top: 130px;
    left: 40px;
}
.insta .swiper-insta-prev {
    width: 30px;
    height: 30px;
    background: url('../img/arrow-left.png')center center / 100% no-repeat;
    position: absolute;
    top: 130px;
    left: 0;
}
.insta .swiper-button-disabled {
    opacity: .35;
}
.insta .inner .insta_slide_list {
    width: calc(100% - 26.40% - 12.5px);
}
.insta .inner .insta_slide_list figure img {
    width: 100%;
}
.insta .inner .insta_slide_list div h4 {
    font-size: 16px;
    margin-top: 15px;
}
.insta .inner .insta_slide_list div p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}
.insta .inner .insta_slide_list div ul {
    display: flex;
    align-items: center;
}
.insta .inner .insta_slide_list div ul li {
    font-size: 14px;
    margin-right: 10px;
}
.insta .inner .insta_slide_list div ul li img {
    width: 48px;
}

/**** media ****/
@media screen and (max-width: 1024px) {
    html, body {font-size: 50%;} /* 8px */
    /* header */
    header {height: 70px;}
    header .m_nav {display: none; background-color: #fff; position: fixed; top: 0; left: 0; width: 100%; height: 100%; 
        z-index: 99; font-size: 25px; text-align: center; padding: 10rem;}
    header .close img {width: 30px;}
    header .m_nav .gnb li {padding: 15px 0;}
    header .m_nav .user {border-top: 1px solid #888; padding-top: 50px; margin-top: 50px;}
    header .m_nav .user li {display: inline-block;}
    header .m_nav .user li img {width: 20px;}
    header .open img {width: 25px;}
    /* .main_visual */
    .main_visual figure:first-child {width: 61.23%; /* 627 / 1024 X 100 */}
    .main_visual figure:last-child {width: calc(100% - 61.23 - 20px);}
    .main_visual figure:first-child p {margin-right: 0;}
    /* .vie */
    .vie .inner > div div {display: block; position: static; margin-top: 15px;}
    .vie .inner > div div h4 {margin-bottom: 7px;}
    /* .editor */
    .editor .inner .list figure,
    .editor .inner .list .list_text {height: 530px;}
    .editor .inner .list figure img {height: 100%; object-fit: cover;}
    /* .brand */
    .brand .inner .list {display: block;}
    .brand .inner .list > div {width: 100%;}
    .brand .inner .list > div.list_item {height: 438px; margin-bottom: 20px;}
        /* 💥높이값을 고정px로 줘서 미디어쿼리600에서 .list_item에게 height:auto를 줘야했음
        여기서 max-height:438px + height: ~vw 로 작성하면 auto를 따로 줄 필요없이 화면에 맞춰서 조절됨 */
    .brand .inner .list > div.right_list {max-height: none;}
    .brand .inner .list > div.right_list .item {width: calc(100% / 2 - 10px); margin-bottom: 40px;}
    .brand .inner .list > div.right_list .item figure {max-height: 280px; height: 29.16vw; /* 280 / 960 X 100 */}
    .brand .inner .list > div.right_list .item figure img {height: 100%; object-fit: cover;}
    .brand .inner .list > div.right_list .item p br {display: none;}
    /* .insta */
    .insta .inner {display: block;}
    .insta .inner .left {display: flex; align-items: center; width: 100%;}
    .insta .inner .left h3 {margin-bottom: 0; margin-right: 15px;}
    .insta .swiper-insta-prev {top: 0; left:auto; right: 40px;}
    .insta .swiper-insta-next {top: 0; left:auto; right: 0;}
    .insta .inner .insta_slide_list {width: 100%; margin-top: 25px;}
}/* 1024 */

@media screen and (max-width: 800px) {
    .editor .inner .list {display: block;}
    .editor .inner .list figure,
    .editor .inner .list .list_text {width: 100%;}
    .editor .inner .list figure {height: 334px;}
    .editor .inner .list .list_text {height: auto;}
    .editor .inner .list .list_text > div {height: auto; padding: 25px 0;}
}/* 800 */

@media screen and (max-width: 600px) {
    html, body {font-size: 37.5%; /* 6px */}
    /* .main_visual */
    .main_visual {font-size: 16px;}
    .main_visual figure:first-child {width: 100%; height: 500px;}
    .main_visual figure:first-child img {height: 100%;}
    .main_visual figure:last-child {display: none;}
    .main_visual figure:first-child p {text-align: center; margin-top: 15px;}
    /* .vie */
    .vie .inner div.title {width: 100%; padding: 47px 0;}
    .vie .inner div:nth-of-type(2) {order: 0;}
    .vie .inner > div {width: calc(100% / 2 - 7.5px);/* 💥여백 15px */}
    .vie .inner > div.item:last-child {display: none;}
    /* .editor */
    .editor .inner .list .list_text > div div h4 {font-size: 16px;}
    .editor .inner .list .list_text > div p {font-size: 14px;}
    /* .best */
    .best .inner {display: block;}
    .best .inner .left {width: 100%; display: flex; flex-wrap: wrap;}
    .best .inner .best_slide_cont {width: 100%;}
    .swiper-button-next, 
    .swiper-button-prev {position: static; display: inline-block;}
    .best .swiper-button-next {order: 1; margin-left: 10px;}
        /* 💥order는 부모에게 flex가 있어야 사용 가능 */
    .best .inner .best_slide_cont {margin-top: 20px;}
    .best .inner .best_slide_cont .swiper-slide figure {height: 297px;}
    /* .brand */
    .brand .inner .list > div.list_item {display: flex; justify-content: space-between; align-items: center; height: auto;}
    .brand .inner .list > div.list_item figure {width: calc(100% / 2 - 7.5px); height: auto;}
    .brand .inner .list > div.list_item > div {position: static; width: calc(100% / 2 - 7.5px);}
    /* .archive */
    .archive {height: auto; display: flex; flex-direction: column;}
    .archive .inner {position: static; background-color: #995727; transform: translateX(0); width: 100%; order: -1;}
    .archive .inner div {padding: 30px 20px 60px; background-color: transparent; /* 💥투명색 */ width: 100%;}
    /* .archive img {width: calc(100% - 40px); height: 250px; margin: 0 auto; margin-top: -50px; position:relative; z-index: 99;} */
    .archive img {width: calc(100% - 40px); height: 250px; margin: 0 auto;  position:relative; top:-50px; z-index: 98;}
        /* 💥아래쪽에 공백 생길 수 있도록 margin-top 사용 (position+top말고)*/
}/* 600 */

@media screen and (max-width: 380px) {
    .brand .inner .list > div.list_item {display: block;}
    .brand .inner .list > div.list_item figure {width: 100%; height: 300px;}
    .brand .inner .list > div.list_item > div {width: 100%; margin-bottom: 40px;}
    .brand .inner .list > div.list_item > div h4 {margin: 25px 0 10px;}
    .brand .inner .list > div.list_item > div p {margin: 10px 0;}
    .brand .inner .list > div.list_item > div p br {display: none;}
}/* 380 */

/**** footer pc ****/
footer .f_top {
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
}
footer .f_top .top_menu {
    max-width: 1360px;
    width: calc(100% - 40px); /* 💥margin: 0 auto를 잡기위함 */
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
footer .f_top .top_menu ul li {
    display: inline-block;
    margin-right: 30px;
}
footer .f_top .top_menu div {
    color: #995727;
}
footer .f_top .top_menu div strong {
    margin-left: 30px;
}
footer .f_top .top_menu div strong span {
    margin-left: 10px;
    font-weight: normal; /* 400 */
}
footer .inner {
    margin: 5rem auto;
}
footer .inner .f_info {
    display: flex;
    margin-bottom: 5rem;
}
footer .inner .f_info ul {
    width: 33.33%; /* 💥100%에서 3등분 */
    font-size: 14px;
}
footer .inner .f_info ul:nth-child(2) {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    padding: 0 7.27%; /* 99px -> 99 / 1360 X 100 */
    margin-right: 7.27%;
}
footer .inner .f_info ul li:first-child {
    margin-bottom: 2rem;
}
footer .inner .f_info ul li {
    line-height: 1.8;
}
footer .inner .f_info ul li a {
    font-size: 2rem;
    font-weight: 600;
}
footer .inner p {
    font-size: 14px;
    color: #838383;
    margin-top: 10px;
}

@media screen and (max-width: 1240px) {
    footer .f_top {border-bottom: 0; position: relative;}
    footer .f_top::before {content: ''; width: 100%; height: 1px; background-color: #838383;
        position: absolute; left: 0; top: 60px;}
    footer .f_top .top_menu {display: block; height: auto;} /* 💥세로 60px이 고정되기 때문에 auto로 잡아줌*/
    footer .f_top .top_menu ul {line-height: 60px;} 
    footer .f_top .top_menu div {margin-top: 20px;}
}/* 1240 */

@media screen and (max-width: 1024px) {
    html, body {font-size: 50%;}
    footer .inner .f_info {flex-wrap: wrap;}
    footer .inner .f_info ul {width: 50%;}
    footer .inner .f_info ul:first-child {width: 100%; margin-bottom: 40px;}
    footer .inner .f_info ul:nth-child(2) {padding-left: 0; border-left: 0; margin-right: 0;}
    footer .inner .f_info ul:last-child {padding-left: 7.27%;}
} /* 1024 */

@media screen and (max-width: 760px) {
    /* footer */
    footer .f_top .top_menu {font-size: 13px;}
    footer .f_top .top_menu ul {line-height: 1.8; height: 82px; 
        display: flex; flex-wrap: wrap; align-content: center;}
    footer .f_top::before {top: 82px;}
    footer .f_top .top_menu div {display: flex;}
    footer .f_top .top_menu div strong span {display: block; margin-left: 0;}
    
    footer .inner .f_info {margin-bottom: 0;}
    footer .inner .f_info ul {width: 100%; font-size: 12px;}
    footer .inner .f_info ul:first-child {margin-bottom: 25px;}
    footer .inner .f_info ul:nth-child(2) {border-right: 0;}
    footer .inner .f_info ul:last-child {padding-left: 0; margin-top: 25px;}
    footer .inner .f_info ul li:first-child {margin-bottom: 10px;}
    footer .inner p {font-size: 12px; line-height: 1.5;}
} /* 760 */
